<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">

            <!-- Row 1 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://anr.fr/en/funded-projects-and-impact/funded-projects/project/funded/project/b2d9d3668f92a3b9fbbf7866072501ef-8808056006/?tx_anrprojects_funded%5Bcontroller%5D=Funded&cHash=77922bf7aa6c22801ac191e3f7af14b6">
                    <img
                        src="img/logos/anr.jpg"
                        alt="ANR"
                        class="img-responsive img-centered">
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://gepris.dfg.de/project/569156112?lang=en">
                    <img
                        src="img/logos/dfg.jpg"
                        alt="DFG"
                        class="img-responsive img-centered">
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://www.lirmm.fr/2026/07/03/the-lirmm-is-hosting-a-meeting-of-the-anr-project-emo-sci/">
                    <img
                        src="img/logos/lirmm.jpg"
                        alt="LIRMM"
                        class="img-responsive img-centered">
                </a>
            </div>

            <!-- Row 2 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://www.i3s.unice.fr/en/">
                    <img
                        src="img/logos/i3s.jpg"
                        alt="I3S"
                        class="img-responsive img-centered client-logo-small">
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://www.hhu.de">
                    <img
                        src="img/logos/hhu.jpg"
                        alt="HHU"
                        class="img-responsive img-centered client-logo-small">
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://www.uni-trier.de">
                    <img
                        src="img/logos/ut.jpg"
                        alt="UT"
                        class="img-responsive img-centered client-logo-small">
                </a>
            </div>

        </div>
    </div>
</aside>