<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <!-- First row: ANR and DFG -->
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6">
                <a href="#">
                    <img
                            alt="ANR"
                            class="img-responsive img-centered"
                            src="img/logos/anr.jpg">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img
                            alt="DFG"
                            class="img-responsive img-centered"
                            src="img/logos/dfg.jpg">
                </a>
            </div>
        </div>
        <!-- Second row: LIRMM, I3S and HHU -->
        <div class="row clients-second-row">
            <div class="col-md-4 col-sm-4">
                <a href="#">
                    <img
                            alt="LIRMM"
                            class="img-responsive img-centered"
                            src="img/logos/lirmm.jpg">
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#">
                    <img
                            alt="I3S"
                            class="img-responsive img-centered client-logo-small"
                            src="img/logos/i3s.jpg">
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#">
                    <img
                            alt="HHU"
                            class="img-responsive img-centered client-logo-small"
                            src="img/logos/hhu.jpg">
                </a>
            </div>
        </div>
    </div>
</aside>